{% extends 'main.html' %}
{% load bootstrap4 %}
{% block title %}Guest book{% endblock title %}
{% block main %}
  {% include 'generic/messages.html' %}
  <h2>Guest book</h2>
  <div>
    <form action="" method="post">
      {% include "generic/form.html" %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-plus-square" aria-hidden="true"></i> Add
      </button>
    {% endbuttons %}
    </form>
  </div>
  {% if object_list.count > 0 %}
    {% for object in latest %}
      <table class="table">
        <tbody>
          <tr>
            <td>{{object.user}}</td>
            <td>{{object.date|date:"j.m.Y"}}</td>
          </tr>
          <tr>
            <td colspan="2">{{object.content}}</td>
          </tr>
        </tbody>
      </table>
    {% endfor %}
  {% endif %}
  {% include "generic/paginator.html" %}
{% endblock main %}