{% extends 'main.html' %}
{% load bootstrap4 %}
{% block title %}Delete new{% endblock title %}
{% block main %}
  <h2>Delete new</h2>
  <h4>{{object.title}}</h4>
  <div>{{object.content|safe}}</div>
  <p>{{object.date|date: "j.m.Y H:i:s"}}</p>
  <form action="" method="post">
    {% include "generic/form.html" %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-plus-square" aria-hidden="true"></i> Delete
      </button>
    {% endbuttons %}
  </form>
  <a href="{% url 'news_index' %}">Back</a>
{% endblock main %}